{% extends "base.html" %}
{% block content %}
<h1>Login</h1>
<div class="panel">
  <form method="post" class="grid">
    <div class="grid cols-2">
      <label>Username<br><input name="username" required></label>
      <label>Passwort<br><input name="password" type="password" required></label>
    </div>
    <label>TOTP (6-stellig)<br><input name="totp" inputmode="numeric" pattern="[0-9]{6}" required></label>
    <div><button>Login</button></div>
  </form>
  <p class="muted">Noch kein Konto? → <a href="{{ url_for('register') }}">Registrieren</a></p>
</div>
{% endblock %}
